/* Profile.module.css */

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 900;
}

.modalContent {
  padding: 20px;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modalButton {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.notiContainer {
  padding-top: 20px;
}
